
<form action=" ", method = "POST">
    {% csrf_token %}
    <input type="checkbox" id="Albedo" name = "Albedo" value="1" defaultValue="10">
    <label for="Albedo"> Albedo</label><br>
    <input type="checkbox" id="Aloy" name = "Aloy" value="1" defaultValue="0">
    <label for="Aloy"> Aloy</label><br>
    <input type="checkbox" id="Amber" name = "Amber" value="1">
    <label for="Amber"> Amber</label><br>
    <input type="checkbox" id="Barbara" name = "Barbara" value="1" defaultValue="0">
    <label for="Barbara"> Barbara</label><br>
    <input type="checkbox" id="Beidou" name = "Beidou" value="1" defaultValue="0">
    <label for="Beidou"> Beidou</label><br>
    <input type="checkbox" id="Bennet" name = "Bennet" value="1">
    <label for="Bennet"> Bennet</label><br>
    <input type="checkbox" id="Chongyun" name = "Chongyun" value="1">
    <label for="Chongyun"> Chongyun</label><br>
    <input type="checkbox" id="Diluc" name = "Diluc" value="1">
    <label for="Diluc"> Diluc</label><br>
    <input type="checkbox" id="Diona" name = "Diona" value="1">
    <label for="Diona"> Diona</label><br>
    <input type="checkbox" id="Eula" name = "Eula" value="1">
    <label for="Eula"> Eula</label><br>
    <input type="checkbox" id="Fishcl" name = "Fishcl" value="1">
    <label for="Fishcl"> Fishcl</label><br>
    <input type="checkbox" id="Ganyu" name = "Ganyu" value="1">
    <label for="Ganyu"> Ganyu</label><br>
    <input type="checkbox" id="Hu_Tao" name = "Hu_Tao" value="1">
    <label for="Hu_Tao"> Hu Tao</label><br>
    <input type="checkbox" id="Jean" name = "Jean" value="1">
    <label for="Jean"> Jean</label><br>
    <input type="checkbox" id="Kaedehara_Kazuha" name = "Kaedehara_Kazuha" value="1">
    <label for="Kaedehara_Kazuha"> Kaedehara Kazuha</label><br>
    <input type="checkbox" id="Kaeya" name = "Kaeya" value="1">
    <label for="Kaeya"> Kaeya</label><br>
    <input type="checkbox" id="Kamisato_Ayaka" name = "Kamisato_Ayaka" value="1">
    <label for="Kamisato_Ayaka"> Kamisato Ayaka</label><br>
    <input type="checkbox" id="Keqing" name = "Keqing" value="1">
    <label for="Keqing"> Keqing</label><br>
    <input type="checkbox" id="Klee" name = "Klee" value="1">
    <label for="Klee"> Klee</label><br>
    <input type="checkbox" id="Kujou_Sara" name = "Kujou_Sara" value="1">
    <label for="Kujou_Sara"> Kujou Sara</label><br>
    <input type="checkbox" id="Lisa" name = "Lisa" value="1">
    <label for="Lisa"> Lisa</label><br>
    <input type="checkbox" id="Mona" name = "Mona" value="1">
    <label for="Mona"> Mona</label><br>
    <input type="checkbox" id="Ninguang" name = "Ninguang" value="1">
    <label for="Ninguang"> Ninguang</label><br>
    <input type="checkbox" id="Noelle" name = "Noelle" value="1">
    <label for="Noelle"> Noelle</label><br>
    <input type="checkbox" id="Qiqi" name = "Qiqi" value="1">
    <label for="Qiqi"> Qiqi</label><br>
    <input type="checkbox" id="Raiden_Shogun" name = "Raiden_Shogun" value="1">
    <label for="Raiden_Shogun"> Raiden Shogun</label><br>
    <input type="checkbox" id="Razor" name = "Razor" value="1">
    <label for="Razor"> Razor</label><br>
    <input type="checkbox" id="Rosaria" name = "Rosaria" value="1">
    <label for="Rosaria"> Rosaria</label><br>
    <input type="checkbox" id="Sangonomiya_Kokomi" name = "Sangonomiya_Kokomi" value="1">
    <label for="Sangonomiya_Kokomi"> Sangonomiya_Kokomi</label><br>
    <input type="checkbox" id="Sayu" name = "Sayu" value="1">
    <label for="Sayu"> Sayu</label><br>
    <input type="checkbox" id="Sucrose" name = "Sucrose" value="1">
    <label for="Sucrose"> Sucrose</label><br>
    <input type="checkbox" id="Tartaglia" name = "Tartaglia" value="1">
    <label for="Tartaglia"> Tartaglia</label><br>
    <input type="checkbox" id="Thoma" name = "Thoma" value="1">
    <label for="Thoma"> Thoma</label><br>
    <input type="checkbox" id="Venti" name = "Venti" value="1">
    <label for="Venti"> Venti</label><br>
    <input type="checkbox" id="Xiangling" name = "Xiangling" value="1">
    <label for="Xiangling"> Xiangling</label><br>
    <input type="checkbox" id="Xiao" name = "Xiao" value="1">
    <label for="Xiao"> Xiao</label><br>
    <input type="checkbox" id="Xingqiu" name = "Xingqiu" value="1">
    <label for="Xingqiu"> Xingqiu</label><br>
    <input type="checkbox" id="Xinyan" name = "Xinyan" value="1">
    <label for="Xinyan"> Xinyan</label><br>
    <input type="checkbox" id="Yanfei" name = "Yanfei" value="1">
    <label for="Yanfei"> Yanfei</label><br>
    <input type="checkbox" id="Yoimiya" name = "Yoimiya" value="1">
    <label for="Yoimiya"> Yoimiya</label><br>
    <input type="checkbox" id="Zhongli" name = "Zhongli" value="1">
    <label for="Zhongli"> Zhongli</label><br>


    <input type="submit" value="Submit">
  </form>
  